set surround
set ignorecase
set smartcase
set incsearch
set visualbell
set noerrorbells

" Integrate with system clipboard
set clipboard=unnamedplus,unnamed
" set clipboard+=ideaput

let mapleader = ","

Plug 'easymotion/vim-easymotion'

map <C-w>o :action MoveEditorToOppositeTabGroup<CR>
map <C-o> :action Back<CR>
map <C-i> :action Forward<CR>

map / :action Find<CR>
map n :action FindNext<CR>
map N :action FindPrevious<CR>

map <leader>a :action Annotate<CR>
map <leader>d :action GotoDeclaration<CR>
map <leader>e :action GotoTypeDeclaration<CR>
map <leader>m :action GotoImplementation<CR>
map <leader>s :action FileStructurePopup<CR>
map <leader>y :action GotoSymbol<CR>
map <leader>u :action GotoSuperMethod<CR>
map <leader>p :action FindInPath<CR>
map <leader>c :action GotoClass<CR>
map <leader>f :action GotoFile<CR>
map <leader>t :action GotoTest<CR>
map <leader>o :action OptimizeImports<CR>
"map <C-S> <Action>(ReformatCode)<Action>(SaveAll)
map <C-S> <Action>(SaveAll)
map <C-O> <Action>(Back)
map <C-I> <Action>(Forward)
